.object-card-prev {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #292e91;
    padding: 20px;
    z-index: 10; 

    @media (min-width: 992px) {
        display: none;
    }

    &__btn {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
    }

    &__category {
        margin-bottom: 6px;
        font-weight: 600;
        font-size: 1rem;
        color: #fff;
        text-transform: uppercase;
    }

    &__title {
        color: #fff;
        font-size: 16px;
        margin-bottom: 6px;
        opacity: 0.8;
    }

    &__address {
        opacity: 0.5;
        font-size: 13px;
        color: #fff;
    }
}

.object-card {
    width: 400px;
    height: 100vh;
    color: #fff;
    background-color: #292e91;
    padding: 30px 20px 20px;
    overflow-y: auto;
    z-index: 9;
    position: relative;

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
    }

    @media (max-width: 991.98px) {
        position: fixed;
        width: 100vw;
        left: -100%;
        top: 0;
        transition: left 0.3s ease-in-out;

        &.fullscreen {
            left: 0;
            z-index: 10;
        }
    }

    &__btn {
        background: linear-gradient(95.48deg, #f7ce38 -7.1%, #fc210d 97.71%);
        border-radius: 1px;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        padding: 20px 30px;
        position: relative;
        margin-top: 20px;

        span {
            position: relative;
            z-index: 10;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: linear-gradient(95.48deg, #f7ce38 -7.1%, #f7ce38 97.71%);
            opacity: 0;
            transition: opacity 0.8s;
        }

        &:hover::before {
            opacity: 1;
        }
    }

    &__category {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-right: 45px;
        text-transform: uppercase;
    }

    &__close {
        padding: 5px;
        position: absolute;
        right: 28px;
        top: 25px;
        text-align: center;
        background-color: #3036a7;
        cursor: pointer;
        z-index: 8;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 991.98px) {
            display: none;

            .fullscreen & {
                display: flex;
            }
        }

        img {
            width: 14px;
            height: 14px;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 17px;
    }
}

.card-badge {
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    padding: 2px 8px;
}

.card-data-block {
    margin-bottom: 20px;
    font-size: 16px;

    &__title {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 5px;
        opacity: 0.7;
    }

    &__text {
        font-size: 15px;
        color: #ffffff;
        display: block;
        margin-bottom: 5px;
    }
}