@import '~leaflet/dist/leaflet.css';
@import '~leaflet.markercluster/dist/MarkerCluster.css';
@import '~leaflet.markercluster/dist/MarkerCluster.Default.css';

@import '~@fancyapps/ui/dist/fancybox.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~@vueform/slider/themes/default.css';

@import 'components/object-card';

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.form-control {
    height: 45px;
    padding: 0 10px 0 15px;
    font-size: 18px;
    border-radius: 0;
    font-weight: 600;
}

label {
    color: #292e91;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px;
}

.custom-input {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #292e91;
    background: #f5f5fa;
    border-radius: 1px;
    padding: 15px 20px;
    border: 1px solid #292e91;
    height: auto;

    &[type='search'] {
        padding-left: 45px;
        background-position: left 10px center;
        background-repeat: no-repeat;
        background-size: 20px;
        background-image: url(../img/icons/search-line.png);
    }
}

.custom-scroll {
    &::-webkit-scrollbar-button {
        background-repeat: no-repeat;
        width: 6px;
        height: 0px;
    }
    &::-webkit-scrollbar-track {
        background-color: none;
        box-shadow: 0px 0px 3px transparent inset;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #f7ce38;
        background-image: url('../scroll.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    &::-webkit-resizer {
        background-repeat: no-repeat;
        width: 7px;
        height: 0px;
    }
    &::-webkit-scrollbar {
        width: 11px;
    }
}

.slider-connect {
    background-color: #292e91;
}

.slider-tooltip {
    background-color: #2f8ad0;
    border-color: #2f8ad0;
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
    background-color: #3967b4;
    div {
        background-color: #fff;
    }
}

.leaflet-container {
    .leaflet-marker-pane {
        img {
            max-width: 100% !important;
        }
    }
}

.leaflet-control-container {
    @media (max-width: 991.98px) {
        display: none;
    }
}

.leaflet-top.leaflet-right {
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);

    .leaflet-control {
        position: relative;
        margin: 0;
        border: none;
        background: linear-gradient(117.02deg, #f7ce38 -2.53%, #fc210d 134.16%);
        border-radius: 100px;
        filter: drop-shadow(7px 0px 11px rgba(5, 7, 64, 0.15));
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            background: rgba(255, 255, 255, 0.3);
            width: auto;
            height: 1px;
            left: 4px;
            right: 4px;
        }
    }
}

.leaflet-control-container .leaflet-bar a {
    background-color: transparent;
    width: 40px;
    height: 40px;
    font-size: 0px;
    border: none;
    border-radius: 0;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    &:first-child {
        background-image: url(../img/icons/map-zoom-plus.png);
    }

    &:last-child {
        background-image: url(../img/icons/map-zoom-minus.png);
    }
}